---
---
body, input, select, textarea {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}
#header-wrapper {
    background-image: url("{{site.baseurl}}/img/light-bl.svg"),
        url("{{site.baseurl}}/img/light-br.svg"),
        url("{{site.baseurl}}/img/overlay.png"),
        url("{{site.baseurl}}/img/social-learning-background-blured.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    background-attachment: scroll, scroll, scroll, fixed;
    height: 43em;
    padding: 4em 0 0 0;
}
.navbar-wrapper{
    position: relative;
    border-radius: 10px;
    background: rgba(255,255,255,0.10);
    padding: 0.75em;
}
.brand {
    background: url("{{site.baseurl}}/img/logo.png");
    width: 131px;
    height: 41px;
    display: block;
    margin: 10px 0 0;
}

footer {
   background-color: #AAAAAA;
   border-top: medium none;
   padding: 60px 0 40px;
   text-align: center;
}
