---
layout: base
body-class: "index"
---


<article id="main">
	<section class="container">

		<header class="special container">
			<span class="icon fa-bar-chart-o"></span>

			<h2>Modules</h2>

			<p>
				Each module of the course will help you build out your community. 
			</p>
		</header>

		<div class="row">
			{% for post in site.categories.modules reversed %}
				<div class="text-center col-md-3">
					<section>
						<a href="#" class="image feature"><img src="{{ site.baseurl }}/img/pic02.jpg"
						                                       alt=""></a>
						<header>
							<h3>{{ post.title }}</h3>
							<h4>{{ post.subtitle }}</h4>
						</header>
						<p>
							{{ post.excerpt }}
						</p>
					</section>
				</div>
			{% endfor %}
		</div>

		<footer class="text-center">
			<a href="#" class="btn btn-primary btn-lg">Sign up</a>
		</footer>

	</section>


	<section class="wrapper style2">
		<div class="container">
			<iframe class="speakerdeck-iframe"
			        frameborder="0"
			        src="//speakerdeck.com/player/d35b1b30c28f01314e2606393c0335dc?"
			        allowfullscreen="true"
			        mozallowfullscreen="true"
			        webkitallowfullscreen="true"
			        style="
			        border: 0px;
			        background-color: transparent;
			        margin: 0px;
			        padding: 0px;
			        border-top-left-radius: 5px;
			        border-top-right-radius: 5px;
			        border-bottom-right-radius: 5px;
			        border-bottom-left-radius: 5px;
			        width: 100%;
			        height: 34em;
			        background-position: initial initial;
			        background-repeat: initial initial;">
			</iframe>
		</div>
	</section>

	<section class="wrapper style1 container" id="tell-more">
		{% for post in site.categories.course_about reversed %}
			<div class="row">
				<div class="fa featured-icon col-md-3"><i class="fa fa-{{ post.featured-icon }}"></i></div>
				<div class="col-md-8">
					<section>
						<header>
							<h3>{{ post.title }}</h3>
						</header>
						<p>{{ post.content }}</p>
					</section>

				</div>
			</div>
		{% endfor %}

	</section>
</article>
<section id="cta">

	<header>
		<h2><strong>Learning in the 21st century is about freedom and connection.</strong>?</h2>

		<p>Build a meaningful community and make something great.</p>
	</header>
	<footer>
		<ul class="buttons">
			<li><a href="#" class="btn btn-transparent btn-lg">Sign up</a></li>
		</ul>
	</footer>

</section>


