<!-- Banner -->
<section id="banner">

	<!--
			  ".inner" is set up as an inline-block so it automatically expands
			  in both directions to fit whatever's inside it. This means it won't
			  automatically wrap lines, so be sure to use line breaks where
			  appropriate (<br />).
		  -->
	<div class="inner">

		<header>
			<h2>Community Design 101</h2>
		</header>
		<p>How to Build a Learning Community on the Web.<br>
		   brought to you by <a href="http://p2pu.org">P2PU</a>.</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="#tell-more" class="btn btn-transparent btn-lg fit scrolly">Tell me
				                                                                       more</a></li>
			</ul>
		</footer>

	</div>

</section>
